<h1>Car-Brands</h1>
<p-autoComplete [(ngModel)]="brand" [suggestions]="filteredBrands" (completeMethod)="filterBrands($event)"  [size]="30"
  placeholder="brands" [minLength]="1" ></p-autoComplete>
<span style="margin-left:10px">brand: {{brand ? brand : 'none'}}</span>