<p>try-flex works!</p>

<h3 class="first">Basic</h3>

<div class="p-grid">
    <div class="p-col">
        <div class="box" >1</div>
    </div>
    <div class="p-col">
        <div >2</div>
    </div>
    <div class="p-col">
        <div >3</div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-8">
        <div class="box">8</div>
    </div>
    <div class="p-col-2">
        <div class="box">2</div>
    </div>
    <div class="p-col-2">
        <div class="box">2</div>
    </div>
</div>

<h3>MultiLine</h3>
<div class="p-grid">
    <div class="p-col-6">
        <div class="box">6</div>
    </div>
    <div class="p-col-6">
        <div class="box">6</div>
    </div>
    <div class="p-col-6">
        <div class="box">6</div>
    </div>
    <div class="p-col-6">
        <div class="box">6</div>
    </div>
</div>

<h3>Responsive</h3>
<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">p-col-12 p-md-6 p-lg-3</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">p-col-12 p-md-6 p-lg-3</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">p-col-12 p-md-6 p-lg-3</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">p-col-12 p-md-6 p-lg-3</div>
    </div>
</div>