<h1 style="width: 20px;">Hello Guys</h1>
<button  routerLink="/auto-complete">Auto-Complete</button>
<button routerLink="/dropdown"> Drop-Down</button>
<button routerLink="/flex"> Flex Examples</button>
<button routerLink="/form">Form Example</button>

{{commonService.nextDay()}}

<router-outlet></router-outlet>